.button-key {
  height: 64px;
  width: 64px;
  color: #2d2d2d;
  background-color: #ffc419;
  border: none;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 1.3rem;
}

.button-key:hover {
  border: 1px solid white;
  background-color: #ffd55e;
}

.button-key:active {
  background-color: #e0a700;
}