.input-container {
  display: flex;
  justify-content: center;

  input{
    margin-bottom: 32px;
    padding: 16px;
    color: #333;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    width: 65%;
  }
}